<nav class="navbar navbar-expand-lg navbar-light bg-white">

  <div class="container-fluid">

    <a class="navbar-brand navbar-logo" href="#"> <img style="max-width: 100%;" width="300px"
        src="https://www.flipkart.com/" alt=""></a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav .justify-content-center mb-2 mb-lg-0">
        <li class="nav-item m-3">
          <a class="nav-link active" routerLink="/dashboard">HOME</a>
        </li>
        <li class="nav-item m-3">
          <a class="nav-link active" routerLink="/dashboard">LOGIN</a>
        </li>
        <li class="nav-item m-3">
          <a class="nav-link active" routerLink="/dashboard/course">PRODUCTS</a>
        </li>
        <li class="nav-item m-3">
          <a class="nav-link active" routerLink="/dashboard/exam"></a>
        </li>
        <li class="nav-item m-3">
          <a class="nav-link active" href="#"></a>
        </li>
      </ul>

      <ul class="navbar-nav ms-auto">
        <li class="nav-item m-3">
          <a class="nav-link active" href="#"><i class="fa-solid fa-cart-shopping fa-2x"></i></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
