<div class="footer">
  <div class="container">
    <div class="row">

      <div class="col-md-2 footer_column">
        <h6>ABOUT</h6>
        <ul>
          <li>Contact Us</li>
          <li> About Us</li>
          <li>Careers</li>
          <li>Flipkart Stories</li>
          <li>Press</li>
          <li>Flipkart Wholesale</li>
          <li>Corporate Information</li>
        </ul>
      </div>
      <div class="col-md-2 footer_column">
        <h6>HELP</h6>
        <ul>
          <li>Payments</li>
          <li> Shipping</li>
          <li>Cancellation & Returns</li>
          <li>FAQ</li>
          <li>Report Infringeme</li>
        </ul>
      </div>
      <div class="col-md-2 footer_column">
        <h6>HELP</h6>
        <ul>
          <li>Payments</li>
          <li> Shipping</li>
          <li>Cancellation & Returns</li>
          <li>FAQ</li>
          <li>Report Infringeme</li>
        </ul>
      </div>
      <div class="col-md-2 footer_column">
        <h6>CONSUMER POLICY</h6>
        <ul>
          <li>Return Policy</li>
          <li>Terms Of Use</li>
          <li>Security</li>
          <li>Sitemap</li>
          <li>Grievance Redressal</li>
          <li>EPR Compliance</li>
        </ul>
      </div>
      <div class="col-md-2 footer_column">
        <h6>SOCIAL</h6>
        <ul>
          <li>Facebook</li>
          <li>Twitter</li>
          <li>YouTube</li>

        </ul>
      </div>
      <div class="col-md-2">
      <div class="mail">
        <h6>Mail Us:</h6>
        <p>
          Flipkart Internet Private Limited,
          Buildings Alyssa, Begonia &
          Clove Embassy Tech Village,
          Outer Ring Road, Devarabeesanahalli Village,
          Bengaluru, 560103,
          Karnataka, India</p>
        </div>
      </div>
    </div>
    <div class="col-md-12 list">
      <div class="col-md-6">
      <button class="btn">Become a Seller</button>
      <button class="btn">Advertise</button>
      <button class="btn">Gift Cards</button>
      <button class="btn">Help Center</button>
      </div>
      <div class="col-md-3">
        <p >© 2007-2023 Flipkart.com</p>
      </div>
    </div>
  </div>
</div>
